@model IEnumerable<CRUD_OperationsInMVC.Models.Employee>
@using CRUD_OperationsInMVC.Models;
@{
    ViewBag.Title = "Index";
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        
    </tr>
    @foreach (Employee emp in @Model)
            {
             <li>@Html.ActionLink(emp.Name , "Details" , new {id = emp.EmployeeId})</li>
            }
    </tr>
    <ul>
        @Html.ActionLink("Back to Department List","Index","Department")
    </ul>
</table>

